@import "../00_base/_extends.scss";
@import "../00_base/_mixins.scss";
@import "../00_base/_colors.scss";
@import "../00_base/_typography.scss";
@import "../00_base/_root.scss";

.wrapper-container {
  @extend %display-grid;
  @include grid-columns(1fr 25%);
  grid-column-gap: 10px;
  grid-template-areas:
      "container-trello container-addLt";
  // background-image: url('../../../assets/background-image.jpg');
}

.container-addLt {
  @extend %display-grid;
  @include grid-columns(auto);
  grid-column-gap: 10px;
  height: auto;
  grid-template-areas:
  "add-another-list";
}

.container-trello {
    @extend %display-grid;
    @include grid-columns(auto);
    grid-column-gap: 10px;
    grid-template-areas:
      "todo inProgress done . . .";
    font-family: $roboto-font;
  }

    .add-another-list {
      @include set-grid-area(add-another-list);
      text-align: center;
      height: fit-content;
      cursor: pointer;
      p {
          background-color: lightgray;
          border: 1px solid blue;
          padding: 7px;
          margin: 10px 10px;
          border-radius: 10px;
      }
    }

    .add-another-list p:hover {
      background-color: #091e4214;
      color: #172b4d;
    }

    .add-another_list-wrapper {
      background-color: #ebecf0;
      border-radius: 3px;
      height: auto;
      min-height: 32px;
      padding: 4px;
      transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
  }

  .todo {
    @include set-grid-area(todo);
    text-align: center;
  }

  .inProgress {
    @include set-grid-area(inProgress);
    text-align: center;
  }

  .done {
    @include set-grid-area(done);
    text-align: center;
  }


  .item {
    background-color: lightgray;
    border: 1px solid blue;
    height: fit-content;
  }
  