@import "../00_base/_extends.scss";
@import "../00_base/_mixins.scss";
@import "../00_base/_colors.scss";
@import "../00_base/_typography.scss";
@import "../00_base/_root.scss";

.container-trello {
    @extend %display-grid;
    @include grid-columns(1fr 1fr 1fr auto auto);
    @include grid-rows(auto);
    grid-column-gap: 2px;
    height: auto;
    grid-template-areas:
      "todo inProgress done . .";
    background-color: $trello-gray-200;
    font-family: $roboto-font;
  }

  .todo {
    @include set-grid-area(todo);
    text-align: center;
  }

  .inProgress {
    @include set-grid-area(inProgress);
    text-align: center;
  }

  .done {
    @include set-grid-area(done);
    text-align: center;
  }
  
  .item {
    background-color: violet;
    border: 1px solid blue;
  }
  